body {
    font-family: 'Patua One', cursive;
}

.container-fluid {
    background-image: url('/assets/backgrounds/h_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin:4%;
    height:100%;
    padding: 5%;
    overflow: hidden;


    align-items: center;
}

.container-fluid p {
    color: rgb(255, 255, 255);

}

.container-fluid h2 {
    color: rgb(255, 255, 255);
    font-size: 300%;
    padding: 4%;
}

/* h1 {
    width: 40px;
    height: 40px;
    padding: 10px;
    text-align: center;
    border: 3px solid white;
    color:black;
    border-radius: 50%;
} */

.aboutUs {
    background-color: white;
    padding: 5%;
    font-size: 150%;
}

.service {
    background-image: url('/assets/backgrounds/s_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    font-size: 150%;
    height: 100%;
    padding: 10%;
}

.whatWeDo {
    background-color: white;
    align-items: center;

}

.weDoLabel {
    font-size: 150%;
}

.portfolio {
    background-color: white;
    display: inline-block;
    

}

.contactUs {
    background-image: url('/assets/backgrounds/c_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    height: 100%;
    padding: 10%;
}

input[type=text], input[type=email]{
    width: 100%;
}

#name_email_flex{
    display: flex;
    justify-content: space-around;
}

.filler {
    background-color: white;
    width: 100%;
    padding: 2%;
}
.row,
.row > .column {
  padding: 1.5%;
}

.card{
    padding: 4%;
   margin:4%;
}

.social_icons{
    display: inline;
    padding:3%;
    margin:3%;
}