body {
    font-family: 'Libre Baskerville', serif;
}

.jumbotron {
    background-image: url('../assets/backgrounds/h_img.jpg');
    text-align: center;
    background-size: cover;
    color: white;
    background-repeat: no-repeat;

}



.aboutUs {
    text-align: center;
    background-color: white;
    padding: 3%;
    font-size: 120%;
}

.service {
    background-image: url('../assets/backgrounds/s_image.jpg');
    text-align: center;
    color: white;
    padding: 5%;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    text-align: center;
}

.heading {
    text-align: center;
}

h3 {
    text-align: center;
    color: white;
}

.row {
    text-align: center;
}

.contactUs {
    background-image: url('../assets/backgrounds/c_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 5%;
    text-align: center;
    color: white;


}

.form-group {
    text-align: center;
}

textarea {
    background-color: transparent;
    width: 52%;
    
    margin-top: 3%;
    border: 1px solid white;

}

.form-group>input {
    background: inherit;
    border: 1px solid white;
}


#email {
    width: 60%;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

#name {
    width: 60%;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    margin-left: 30%;
}


.portfolio {
    display: flex;
    flex-wrap: wrap;
    padding: 3%, 3%, 3%;
    padding-left: 10%;
}

.img-fluid {
    margin: 1%;
    width: 220px;

}

#development {
    display: none;
}

#design {
    display: none;
}

#product {
    display: none;
}

.social_icons {
    padding: 7%;
}

#name::placeholder {
    color: white;
}

#email::placeholder {
    color: white;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: red;
    font-size: 12pt; 
 }